/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #faf8ef;
    font-family: 'Arial', sans-serif;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score-container {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #776e65;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    background-color: #bbada0;
    padding: 10px;
    border-radius: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cdc1b4;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: transparent;
}

.cell-2 { background-image: url('../../image/2.jpg'); background-size: cover; }
.cell-4 { background-image: url('../../image/4.jpg'); background-size: cover; }
.cell-8 { background-image: url('../../image/8.jpg'); background-size: cover; }
.cell-16 { background-image: url('../../image/16.jpg'); background-size: cover; }
.cell-32 { background-image: url('../../image/32.jpg'); background-size: cover; }
.cell-64 { background-image: url('../../image/64.jpg'); background-size: cover; }
.cell-128 { background-image: url('../../image/128.jpg'); background-size: cover; }
.cell-256 { background-image: url('../../image/256.jpg'); background-size: cover; }
.cell-512 { background-image: url('../../image/512.jpg'); background-size: cover; }
.cell-1024 { background-image: url('1024.png'); background-size: cover; }
.cell-2048 { background-image: url('2048.png'); background-size: cover; }

